// Global Foundation Settings
@import "settings";

// Comment out this import if you don't want to use normalize
@import "normalize";
$topbar-bg: #25a1da;
$tooltip-close-font-size: 12px;
// Comment out this import if you are customizing you imports below
@import "foundation";

// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

// @import "foundation/components/global"; // *always required
// @import "foundation/components/grid";

//
// Use this grid if you want to start using the new Foundation 5 grid early.
// It will change breakpoints to min-width: 640px and 1024px.
//
// @import "foundation/components/grid-5";
//

// @import "foundation/components/visibility";
// @import "foundation/components/block-grid";
// @import "foundation/components/type";
// @import "foundation/components/buttons";
// @import "foundation/components/forms"; // *requires components/buttons
// @import "foundation/components/custom-forms"; // *requires components/buttons, components/forms
// @import "foundation/components/button-groups"; // *requires components/buttons
// @import "foundation/components/dropdown-buttons"; // *requires components/buttons
// @import "foundation/components/split-buttons"; // *requires components/buttons
// @import "foundation/components/flex-video";
// @import "foundation/components/section";
// @import "foundation/components/top-bar";  // *requires components/grid
// @import "foundation/components/orbit";
// @import "foundation/components/reveal";
// @import "foundation/components/joyride";
// @import "foundation/components/clearing";
// @import "foundation/components/alert-boxes";
// @import "foundation/components/breadcrumbs";
// @import "foundation/components/keystrokes";
// @import "foundation/components/labels";
// @import "foundation/components/inline-lists";
// @import "foundation/components/pagination";
// @import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
// @import "foundation/components/side-nav";
// @import "foundation/components/sub-nav";
// @import "foundation/components/switch";
// @import "foundation/components/magellan";
// @import "foundation/components/tables";
// @import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
// @import "foundation/components/dropdown";
@import "compass/css3";




#progressBar{
	height: 4px;
	background-color: #000;
	position: relative;
	.marker{
		height: 6px;
		@include radius(6px);
		background-color: #25a1da;
		left:0%;
		display: block;
		width: 6px;
		top:-1px;
		position: absolute;
		@include box-shadow(rgba(36, 161, 218, 0.4)  0px 0px 7px 3px); 
		margin-left: -2px;
		opacity: 0.9;
	}
	&.active .marker{
		background-color: #CCC;
		@include box-shadow(rgba(204, 204, 204, 0.4)  0px 0px 7px 3px); 
		&.selected{
			background-color: #25a1d1;
			@include box-shadow(rgba(36, 161, 218, 0.4)  0px 0px 7px 3px);
			position: relative;
			z-index: 1000;
			height: 10px;
			width: 10px;
			top:-3px;
			margin-left: -4px;
		}
	}
}

.mapPanel{
	border: 5px solid #000;
}
#map-canvas{
	width: 100%;
	height: 500px;
}
.row .row{
	margin-bottom: 20px;
}
#map-canvas *, #map-canvas *:before, #map-canvas *:after {
	-moz-box-sizing: content-box!important;
	-webkit-box-sizing: content-box!important;
	box-sizing: content-box!important;  
}
#map-canvas img {
	max-width: none;
}
#map-canvas label {
	width: auto;
	display: inline;
}
#map-canvas .columns{
	padding: 0;
	.twitterImage{
		max-width: auto;
	}
	margin: 0;
}
#map-canvas .row{
	clear: both;
}
#map-canvas img.twitterImage{
	width: 100%;
	float: right;
}
#labels{
	position: relative;
	h3{
		border-left: 3px solid #000;
		position: absolute;
		margin: 0;
		padding-left: 6px;
		font-size: 16px;
	}
	#paris{
		left:0%;
	}
	#vernon{
		left:14.548573713844034%;
	}
	#dieppe{
		left: 42.72967659988212%;
	}
	#newhaven{
		left:76.00051646464561%;
	}
	#london{
		left:auto;
		right:0;
		border-left: 0px;
		border-right: 3px solid #000;
		padding-left: 0px;
		padding-right: 6px;
	}
	height: 50px;
}

#tweetDetails{
	position: absolute;
	width: 600px;
	top: 280px;
	right:-100%;
	@include transition-property(right);
  	@include transition-duration(1s);
  	@include transition-timing-function(linear);
	&.active{
		right:0;
	}
	background-color: rgba(255,255,255,0.8);
	border-color: #25a1da;
	border-width: 3px 0px 3px 3px;
	border-style: solid;
	#prevTweet, #nextTweet{
		display: block;
		margin: 20px auto;
		&.disabled{
			opacity: 0.5;
		}
	}
	.large-2{
		text-align: center;
		position: static;
	}
	.arrow{
		height: 17px;
		overflow: hidden;
		width:30px;
		position: absolute;
		top:-17px;
		left:55px;
	}
	.arrowInner{
		border: 1px solid #25a1da;
		background-color: #25a1da;
		@include border-radius(2px);
		width:20px;
		height: 20px;
		@include rotate(-45deg);
		background-color: #25a1da;
		display: block;
		position: absolute;
		top: 6px;
		left: 4px;
	}
	.arrow{
		top:30px;
		left:-26px;
		@include rotate(90deg);
	}
	.arrowInner{

		

	}
	.arrowInner{
		top:-11px;
		background-color: #25a1da;
	}

	.profile{
		margin: 10px 0 0;
		overflow: hidden;
		img{
			display: block;
			float: left;

		}
		h4{
				float: left;
				font-size: 16px;
				padding: 0px 0 0px 10px;
			}
	}
	.tweetText{
		font-size: 16px;
		line-height: 22px;
	}
	.details{
		position: absolute;
		bottom:14px;
		right:15px;
		margin-bottom: 0;
	}
	.details p{
		text-align: right;
		font-size: 12px;
		margin: 0 10px 0 0;
	}
}
.top-bar{
	position: relative;
	.line{
		width: 100%;
		position: absolute;
		top: 33px;
		z-index: 1000;
		.inner{

		border-bottom: 1px solid #FFF;
		margin: 0 15px;
		}
	}
	.hLine{
		width: 1px;
		height: 80%;
		right:-5%;
		left:auto;
		border-bottom: 0;
		border-right: 1px solid #fff;
	}
}
.top-bar li > a{
	border-left: 1px solid #fff;
}

@media only screen and (max-width: 768px) {
	#progressArea{
		.inner{
			@include simple-transform(1, 90deg, 0, 00px, 0, 0, 0, 0);
			width: 1000px;
		}
		height: 1000px;
		h3{
			height: 100px;
			top:-104px;
			span{
				display: block;
				@include simple-transform(1, -90deg, -90px, -30px, 0, 0, 0, 0);
			}
		}
	}
	#tweetDetails{
		position: static;
		width: auto;
	}
	#map-canvas{
		width: 100%;
		height: 150px;
	}
	#mobileDetails{
		position: absolute;
		width: 90%;
		left:10%;
		.tweetText{
			font-size: 12px;
			line-height: 14px;
		}
	}
	.arrow{
		display: none;
	}
	.small-0{
		display: none;
	}
}
