
<div class="mapTweet{{#if hasMedia}} hasMedia{{/if}}" id="tweet{{twitter.id}}">
	<div class="arrow">
		<div class="arrowInner">

		</div>
	</div>
	<div class="row">
		

		<div class="small-2 large-2 columns">
			<a href="#" id="prevTweet" class="{{#if isFirst}}disabled{{/if}}"><img src="assets/img/left.png"/></a>
		</div>
		<div class="small-10 large-8 columns">
			<div class="row">
				<div class="tweetText">
				{{#normaliseTwitterData this}}
					<div class="profile">
						<img src="{{avatar}}">
						{{#if name}}
						<h4>{{name}} <br/><a href="http://twitter.com/{{handle}}" target="_blank">@{{handle}}</a></h4>
						{{else}}

						<h4><a href="http://twitter.com/{{handle}}" target="_blank" >@{{handle}}</a></h4>
						{{/if}}
					</div>
						
					

					<p class="tweetText">{{{textToLinks text}}}</p>

					{{#if retweet}}
					<p class="retweetedBy">Reweeted by {{retweeter.name}}</p> 
					{{/if}}
					{{/normaliseTwitterData}}
					
				</div>
				{{#if hasMedia}}
				<div class="">
					<img src="{{mediaUrl}}" class="twitterImage">
				</div>
						
				{{/if}}
			</div>
			
			
			
			

			
		</div>
		<div class="small-2 large-2 columns">
			<a href="#" id="nextTweet" class="{{#if isLast}}disabled{{/if}}"><img src="assets/img/right.png"/></a>
			<div class="details row">
					<p>{{niceDateShort created_at}}</p>
					<p>{{twentyFour created_at}}</p>
					<p><span data-tooltip class="has-tip" title="Distance to shoreditch (estimated cycle distance)!">DTS</span> : {{niceCount estimateHome}}KM</p>
			</div>	
		</div>
	</div>


</div>