
<div class="mapTweet{{#if hasMedia}} hasMedia{{/if}}" id="tweet{{twitter.id}}">
	<div class="arrow">
		<div class="arrowInner">

		</div>
	</div>
	<div class="row">
		

		<div class="small-2 large-2 columns">
			<a href="#" id="prevTweet"><img src="assets/img/left.png"/></a>
		</div>
		<div class="small-8 large-8 columns">
			<div class="row">
				<div class="tweetText">
				{{#normaliseTwitterData twitter}}
					<h4>
						<img src="{{avatar}}">
						{{#if name}}
						{{name}} <a href="http://twitter.com/{{handle}}" target="_blank">@{{handle}}</a>
						{{else}}

						<a href="http://twitter.com/{{handle}}" target="_blank" >@{{handle}}</a>
						{{/if}}
					</h4>

					<p>{{{text}}}</p>

					{{#if retweet}}
					<p class="retweetedBy">Reweeted by {{retweeter.name}}</p> 
					{{/if}}
					{{/normaliseTwitterData}}
					
				</div>
				{{#if hasMedia}}
				<div class="">
					<img src="{{mediaUrl}}" class="twitterImage">
				</div>
						
				{{/if}}
			</div>
			
			
			<div class="details row">
					<p>{{niceDate interaction.created_at}} {{twentyFour interaction.created_at}}</p>
					<p>Distance remaining : c. {{niceCount estimateHome}}KM</p>
			</div>	
			

			
		</div>
		<div class="small-2 large-2 columns">
			<a href="#" id="nextTweet"><img src="assets/img/right.png"/></a>
		</div>
	</div>


</div>